    /**nav-ber style**/
    body{
        width: 1440px;
        
        
    }
        
    .nav-ber{
        width:1140px;
        height: 82px;
        display: flex;
        justify-content: space-between;
        border: ;
        margin-left:150px;
        
    }

    .logos{
        height: 82px;
        width: 135px;
        
    }

    .nav-item{
        display: flex;
        gap:38px;
        justify-content: center;
        
    }
    i{
        position:relative;
        top: 18px;
        left: 25px;
    }

    .nav-items{
        list-style: none;
    }

    .font-about-us{
        color: rgba(137, 135, 161, 1);
    }
    .orage-colore{
        color: rgba(233, 90, 8, 1);
    }

    .nav-all-items{
        height: 461px;
        width: 1140px;
        margin-top: 120px;
        border:;
        display: flex;
        margin-left: 150px;
        column-gap:px ;
        
        
    }

    .nav-title{
        border:;
        width: 570px;
        height:299px;
        position: relative;
        top: calc(461px - 299px);
    }
    .nav-image{
        border:;
        width: 570px;
        height: 355px;
        position: relative;
        top:calc(461px - 355px);

       
    }
    
   @media screen  and (max-width:576px){
    .nav-item{
        flex-direction:column;
    }
    .pcls,.font-about-us{ 
        display: none;
    }
    .nav-all-items{
        flex-direction: column;
    }
    
    .nav-item, i{
        position: relative;
        right: 600px;
    }
}

/**...............card style...........**/
.our-plants{
    width: 1140px;
    height: 999.88Hug;
    margin-top: 120px;
    margin-left: 150px;
}
.plants-title{
    width: 1140px;
    height: 338Hug;
    justify-items: center;
    border: ;
}

.container-card{
    margin-top: 49px;
    width: 270px;
    height: 484.94px;
    justify-items: center
    border: ;
}
.card-title{
    justify-items: center;
    font-size:;
}

.button{
    width: 277px;
    height: 50px;
    background-color:rgba(233, 90, 8, 1) ;
    color:rgba(255, 255, 255, 1) ;
    font-size: 16px;
}

.cart-conteinar{
    display: grid;
    grid-template-columns: repeat(4,0.85fr);
    gap:2px;
    justify-items:;
    border:;
}

@media screen and (max-width:576px){
    .plants-title{
        display: flex;
        flex-direction: column;
    }
    .cart-conteinar{
        grid-template-columns: repeat(2, 0.15fr);
        gap: 2px;
        
    }
    
}
/**challenge part style**/
.chge-conteinar{
    width: 1140px;
    height: 521px;
    display: flex;
    justify-content: space-between;
    /*padding-top: 120px;*/
    margin-left: 150px;
    border: ;
}
.chge-img{
    width:590px;
    height:520px;
    border: ;
}
.chge-tittle{
    width: 590px;
    height: 521Hug;
    padding-left: ;
    border: ;
    padding-top: 50px;
}
.tittle{
    margin-top: 39px;
    justify-items: center;
    
}
.h1{
    margin-left: 60px;
    font-size: 30px;
   
}
.list{
    width: 400px;
    height: 108Hug;
    border:;
    margin-top: 20px;
}
.icon{
    height: 286px;
    width: 286px;
    position: relative;
    top: 130px;
    margin-left: 425px;   

}
@media screen and (max-width:576px){
    .chge-conteinar{
        display: flex;
        flex-direction: column;
    }
    .icon{
        display: none;
    }
    
}


/**...........latesrt deals part style**/
.flex-all-atem{
    display: flex;
}
.Latest-tittle{
    width: 1140px;
    height: 250px;
    justify-items: center;
    margin-top: 400px;
    margin-left: 150px;
    font-size: 30px;
    

    
}

.fnt-style{
    display: flex;
    justify-items: center;
    justify-content: center;
    padding: 30px;
    
  
}
.bloom-plant{
    width: 367px;
    height:206px;
    
    bottom: 40px;
    background-image:url("assets/deal-bloom.png");
    margin-top: 120px;
    margin-left: 150px;
    color:#efeeee;
    border-radius:10px;
    font-size: 30px;
}
.ana-plant{
    width: 367px;
    height: 197px;
    margin-top: 25px;
    margin-left: 150px;
    color: white;
    border-radius:10px;
    font-size: 15px;
    text-align: center;
    background-image:url("assets/deal-ana.png") 
    
}

.zabo-plant{
    width: 753px;
    height: 424.12px;
    border: ;
    justify-items:center;
    border:;
   /* background-image:url("assets/deal-zabo.png") ;*/
    margin-top: 120px;
    margin-left:28px ;
    color:rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    border-radius:10px;
    background-image:url("assets/deal-zabo.png") ;
}

@media screen and (max-width:576px) {
    .flex-all-atem{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        
    }
   .Latest-tittle{
    display:flex;
    flex-direction: column;

   }
   .ld{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    justify-content: center;
   }
}




/**fram part**/
.btn{
    width: 1440px;
    height: 533px;
    margin-top: 70px;
    border: 1px solid blueviolet;
    background-image: url("assets/news-letter-bg.png");
}


.bnt-tittle{
    
    text-align: center;
    margin-top: 190px;
    font-size: 30px;
    color: #efeeee;
}

.text-ber{
    height: 50px;
    width: 644px;
    border: 1px solid black;
    
    
}
.text-bnt{
    height: 50px;
    width: 186px;
    border: 1px solid black;
    background-color: orange;
    color: #efeeee;
}
@media screen and (max-width:576px){
    .bnt-tittle{
        display: flex;
        flex-direction: column;
    }
    
}

 /** icon conteiner style **/
.font-colore{
    color:rgba(0, 0, 0, 0.5)
}
.colore{
    color: gray;
}
 
 .icon-conteinar{
    width: 1440px;
    height: 230px;
    display: flex;
    gap: 100px;
    font-size: 30px;
    border: ;
 }

 .last-logo{
    width: 359Hug;
    height: 179Hug;
    padding: 30px;
    padding-right: 30px;
 }

 .list-one{
    width: 85Hug;
    height: 248Hug;
    list-style: none;
    border: ;
 }
 .list-two{
    width: 128Hug;
    height: 248Hug;
    
 }
 
 .plt-logo{
    width: 216Hug;
    height: 36Hug;
     border: ;
     position: relative;
     bottom:160px;
     left: 300px;
 }
ul{
    list-style: none;
}

@media screen and (max-width:576px){
    .icon-conteinar{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    
}