    /**nav-ber style**/
    body{
        width: 1440px;
        
        
    }
        
    .nav-ber{
        width:1140px;
        height: 82px;
        display: flex;
        justify-content: space-between;
        border: ;
        margin-left:150px;
        
    }

    .logos{
        height: 82px;
        width: 135px;
        
    }

    .nav-item{
        display: flex;
        gap:38px;
        justify-content: center;
        
    }
    i{
        position:relative;
        top: 18px;
        left: 25px;
    }

    .nav-items{
        list-style: none;
    }

    .font-about-us{
        color: rgba(137, 135, 161, 1);
    }
    .orage-colore{
        color: rgba(233, 90, 8, 1);
    }

    .nav-all-items{
        height: 461px;
        width: 1140px;
        margin-top: 120px;
        border:;
        display: flex;
        margin-left: 150px;
        column-gap:px ;
        
        
    }

    .nav-title{
        border:;
        width: 570px;
        height:299px;
        position: relative;
        top: calc(461px - 299px);
    }
    .nav-image{
        border:;
        width: 570px;
        height: 355px;
        position: relative;
        top:calc(461px - 355px);

       
    }
    
   @media screen  and (max-width:576px){
    .nav-item{
        flex-direction:column;
    }
    .pcls,.font-about-us{ 
        display: none;
    }
    .nav-all-items{
        flex-direction: column;
    }
    
    .nav-item, i{
        position: relative;
        right: 600px;
    }
}

/**...............card style...........**/
.our-plants{
    width: 1140px;
    height: 999.88Hug;
    margin-top: 120px;
    margin-left: 150px;
}
.plants-title{
    width: 1140px;
    height: 338Hug;
    justify-items: center;
    border: ;
}

.container-card{
    margin-top: 49px;
    width: 270px;
    height: 484.94px;
    justify-items: center
    border: ;
}
.card-title{
    justify-items: center;
    font-size:;
}

.button{
    width: 277px;
    height: 50px;
    background-color:rgba(233, 90, 8, 1) ;
    color:rgba(255, 255, 255, 1) ;
    font-size: 16px;
}

.cart-conteinar{
    display: grid;
    grid-template-columns: repeat(4,0.85fr);
    gap:2px;
    justify-items:;
    border:;
}

@media screen and (max-width:576px){
    .plants-title{
        display: flex;
        flex-direction: column;
    }
    .cart-conteinar{
        grid-template-columns: repeat(2, 0.15fr);
        gap: 2px;
        
    }
    
}